.Spinner {
  width: 200px;
  height: 200px;
  margin: 200px auto;
  overflow: hidden;
  background: #fff;

  .SpinnerElements {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;

    @keyframes SpinnerElements {
      0% { opacity: 1 }
      100% { opacity: 0 }
    }

    div {
      box-sizing: content-box;
      left: 98px;
      top: 53px;
      position: absolute;
      animation: SpinnerElements linear 1s infinite;
      background: #0a0a0a;
      width: 4px;
      height: 18px;
      border-radius: 1.98px / 1.98px;
      transform-origin: 2px 47px;

      &:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -0.8333333333333334s;
        background: #0a0a0a;
      }

      &:nth-child(2) {
        transform: rotate(60deg);
        animation-delay: -0.6666666666666666s;
        background: #0a0a0a;
      }

      &:nth-child(3) {
        transform: rotate(120deg);
        animation-delay: -0.5s;
        background: #0a0a0a;
      }

      &:nth-child(4) {
        transform: rotate(180deg);
        animation-delay: -0.3333333333333333s;
        background: #0a0a0a;
      }

      &:nth-child(5) {
        transform: rotate(240deg);
        animation-delay: -0.16666666666666666s;
        background: #0a0a0a;
      }

      &:nth-child(6) {
        transform: rotate(300deg);
        animation-delay: 0s;
        background: #0a0a0a;
      }
    }
  }
}