.ImageList {
  grid-area: ImageList;
  display: flex;
  flex-wrap: wrap;

  .ItemBlock {
    text-align: center;
    flex-grow:1;

    .ImageItem {
      margin-bottom: 10px;
      cursor: pointer;
    }
  }

  .Spinner {
    margin-top: 0;
  }
}