.ImageList {
  grid-area: ImageList;
  display: flex;
  flex-wrap: wrap;

  img {
    margin-bottom: 10px;
    cursor: pointer;
  }

  img:first-child {
    margin-right: 10px;
  }

  img + img {
    margin-right: 10px;
  }
}